In [5]:
import pandas as pd
import numpy as np

In [14]:
d = {'one' : pd.Series(np.zeros(2), index=['a', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
d

{'one': a    0.0
 c    0.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [16]:
a = pd.DataFrame(d).transpose()
a

       a    b    c    d
one  0.0  NaN  0.0  NaN
two  1.0  2.0  3.0  4.0

In [24]:
a['b']['one'] = 1

In [25]:
a

       a    b    c    d
one  0.0  1.0  0.0  NaN
two  1.0  2.0  3.0  4.0