In [1]:
import numpy as np
import pandas as pd

In [2]:
ingredients = pd.read_csv('Source1Ingredients.csv')

In [3]:
ingredients.head()

                              id                              ingredient
0  20-minute-carbonara-with-peas                          200g spaghetti
1  20-minute-carbonara-with-peas                        250g frozen peas
2  20-minute-carbonara-with-peas                           2 medium eggs
3  20-minute-carbonara-with-peas                    25g Parmesan, grated
4  20-minute-carbonara-with-peas  4 level tbsp reduced-fat crème fraîche

In [4]:
ingredients.tail()

                      id                        ingredient
22755  zingy-peach-salsa           1tbsp chopped coriander
22756  zingy-peach-salsa         1tbsp chopped mint leaves
22757  zingy-peach-salsa  2 spring onions, finely chopped
22758  zingy-peach-salsa            Juice and zest  ½ lime
22759  zingy-peach-salsa      ½ red chilli, finely chopped

In [75]:
from tqdm import tqdm

def isIngredient(word):
    if len(word) < 2:
        return False
    
    if isNumberInside(word):
        return False
    
    if isPreposition(word):
        return False
    
    if isNoisy(word):
        return False
    
    if isArticle(word):
        return False
    
    return True
    
def isNumberInside (string):
    for caracter in string:
        if caracter.isnumeric():
            return True
    return False

def isPreposition (string):
    prepositions = ["aboard","about","above","across","after","against","along","amid","among","anti","around","as","at","before","behind","below","beneath","beside","besides","between","beyond","but","by","concerning","considering","despite","down","during","except","excepting","excluding","following","for","from","in","inside","into","like","minus","near","of","off","on","onto","opposite","outside","over","past","per","plus","regarding","round","save","since","than","through","to","toward","towards","under","underneath","unlike","until","up","upon","versus","via","with","within","without"]
    if string in prepositions:
        return True
    return False

def isNoisy (string):
    noisy = ["ml","tbsp","and","tsp","level","extra","cut","or","you","leaves","plain","selection","medium","clear","few","price","yellow","new","half"]
    if string in noisy:
        return True
    return False

def isArticle (string):
    articles = ["the","a","one","some","few"]
    if string in articles:
        return True
    return False
    
corpus = []
for ing in tqdm(ingredients['ingredient']):
    for word in ing.split():
        _aux = word.replace('(','').replace(')','').replace(',','').replace("'", "").replace('.', '').lower()
        if isIngredient(_aux):
            corpus.append(_aux)

100%|█████████████████████████████████████████████████████████████████████████| 22760/22760 [00:00<00:00, 45038.44it/s]

In [76]:
print ("Total words in corpus: ", len(corpus))

Total words in corpus:  69666

In [77]:
set_copus = set(corpus)

In [78]:
len (set_copus), len(corpus)

(2463, 69666)

In [79]:
dict_corpus = dict.fromkeys(set_copus, 0)

In [80]:
for elem in corpus:
    dict_corpus[elem] += 1

In [81]:
import operator
sorted_x = sorted(dict_corpus.items(), key=operator.itemgetter(1), reverse= True)

In [82]:
len(sorted_x)

2463

In [83]:
list_ingr = []
list_num = []
for ingr, num in sorted_x:
    list_ingr.append(ingr)
    list_num.append(num)

In [84]:
d = {'Ingredient': list_ingr, 'numTimes': list_num}
df = pd.DataFrame(data=d)

In [88]:
df[425:436]

    Ingredient  numTimes
425   dressing        25
426  tortillas        25
427  freshness        25
428  digestive        25
429    custard        25
430      pesto        25
431     masala        25
432     creamy        25
433      yeast        24
434       days        24
435    weighed        24

In [89]:
df.to_csv('grocery.csv')