In [1]:
import numpy as np
import pandas as pd

In [2]:
ingredients = pd.read_csv('Source1Ingredients.csv')
ingredients2 = pd.read_csv('Source2Ingredients.csv')

In [6]:
ingredients.head()

                              id                              ingredient
0  20-minute-carbonara-with-peas                          200g spaghetti
1  20-minute-carbonara-with-peas                        250g frozen peas
2  20-minute-carbonara-with-peas                           2 medium eggs
3  20-minute-carbonara-with-peas                    25g Parmesan, grated
4  20-minute-carbonara-with-peas  4 level tbsp reduced-fat crème fraîche

In [7]:
ingredients.tail()

                      id                        ingredient
22755  zingy-peach-salsa           1tbsp chopped coriander
22756  zingy-peach-salsa         1tbsp chopped mint leaves
22757  zingy-peach-salsa  2 spring onions, finely chopped
22758  zingy-peach-salsa            Juice and zest  ½ lime
22759  zingy-peach-salsa      ½ red chilli, finely chopped

In [4]:
ingredients2.head()

       id                                         ingredient
0  100020  2 pounds russet potatoes (about 4 large), peel...
1  100020              2 tablespoons distilled white vinegar
2  100020                                        Kosher salt
3  100020                                2 quarts peanut oil
4  100030  2 tablespoons vegetable oil, plus more for frying

In [8]:
ingredients2.tail()

           id                                         ingredient
143160  99990                                        Kosher salt
143161  99990                     1/2 cup extra virgin olive oil
143162  99990  1 pound shredded or thinly sliced low-moisture...
143163  99990  4 ounces roughly grated Parmiggiano-Reggiano o...
143164  99990                1/2 cup finely chopped basil leaves

In [26]:
from tqdm import tqdm
from stop_words import get_stop_words
stop_words = get_stop_words('en')


def isIngredient(word):
    if len(word) < 2:
        return False
    
    if isNumberInside(word):
        return False
    
    if isPreposition(word):
        return False
    
    if isNoisy(word):
        return False
    
    if isArticle(word):
        return False
    
    return True
    
def isNumberInside (string):
    for caracter in string:
        if caracter.isnumeric():
            return True
    return False

def isPreposition (string):
    prepositions = ["aboard","about","above","across","after","against","along","amid","among","anti","around","as","at","before","behind","below","beneath","beside","besides","between","beyond","but","by","concerning","considering","despite","down","during","except","excepting","excluding","following","for","from","in","inside","into","like","minus","near","of","off","on","onto","opposite","outside","over","past","per","plus","regarding","round","save","since","than","through","to","toward","towards","under","underneath","unlike","until","up","upon","versus","via","with","within","without"]
    if string in prepositions:
        return True
    return False

def isNoisy (string):
    noisy = ["ml","if","tbsp","tbsb","tbs","tbp","and","tsp","level","extra","cut","or","you","leaves","plain","selection","medium","clear","few","price","yellow","new","half", "while", "when","very", "use", "two","three"]
    if string in noisy or string in stop_words:
        return True
    return False

def isArticle (string):
    articles = ["the","a","one","some","few"]
    if string in articles:
        return True
    return False
    
corpus = []
for ing in tqdm(ingredients['ingredient']):
    for word in ing.split():
        _aux = word.replace('(','').replace(')','').replace(',','').replace("'", "").replace('.', '').lower()
        if isIngredient(_aux):
            corpus.append(_aux)

100%|█████████████████████████████████████████████████████████████████████████| 22760/22760 [00:00<00:00, 30746.16it/s]

In [27]:
for ing in tqdm(ingredients2['ingredient']):
    try:
        for word in ing.split():
            _aux = word.replace('(','').replace(')','').replace(',','').replace("'", "").replace('.', '').lower()
            if isIngredient(_aux):
                corpus.append(_aux)
    except:
        pass
        #print (ing)

100%|███████████████████████████████████████████████████████████████████████| 143165/143165 [00:05<00:00, 25319.63it/s]

In [28]:
print ("Total words in corpus: ", len(corpus))

Total words in corpus:  614203

In [29]:
set_copus = set(corpus)

In [30]:
len (set_copus), len(corpus)

(12475, 614203)

In [31]:
dict_corpus = dict.fromkeys(set_copus, 0)

In [32]:
for elem in corpus:
    dict_corpus[elem] += 1

In [33]:
import operator
sorted_x = sorted(dict_corpus.items(), key=operator.itemgetter(1), reverse= True)
#sorted_x

In [34]:
len(sorted_x)

12475

In [35]:
list_ingr = []
list_num = []
for ingr, num in sorted_x:
    list_ingr.append(ingr)
    list_num.append(num)

In [36]:
d = {'Ingredient': list_ingr, 'numTimes': list_num}
df = pd.DataFrame(data=d)

In [37]:
df[425:436]

      Ingredient  numTimes
425       double       192
426         kale       192
427      oranges       189
428        slice       189
429       rounds       189
430   grapefruit       186
431        roast       186
432      arugula       186
433  raspberries       186
434        sharp       185
435    sweetened       185

In [38]:
df.to_csv('grocery.csv')